$gridColumns: 25;
$gridColumnWidth: 30px;
$gridGutterWidth: 10px;
$navbarHeight: 30px;
@import "bootstrap";
@import 'font-awesome';

@import "compass/utilities/general/min";
@import "compass/utilities/general/float";
@import "compass/css3/border-radius";

/* customize style start*/

body{
  background-image: url(/bg.png);
  background-repeat:repeat;
  background-color:#fff;
}

.breadcrumb{
  background-color:transparent;
}

/* nav */

#nav{
margin-top:5px;
}

/* nav end */

/* footer */

#footer{
  width:100%;
  @include min-height(100px);
  border-top:1px solid #eee;
  margin-top:10px;
  p{
   float:right;
   padding:5px 10px;
  }
  ul.links{
   float:right;
   li{
     float:left;
     list-style:none;
     margin:0px;
     padding:5px 10px;
     a{
       text-decoration:none;
       font-size:12px;
     }
   }
  }
}

/* footer end */
/* body */
#body{
  @include min-height(2500px);
}

/* home page*/
.thing{
  @include border-radius(5px);
  background-color:#fff;
  margin:10px;
  @include min-height(380px);
  img.pic_url{
    width:300px;
    @include border-radius(5px);
    margin-left:4px;
    margin-top:5px;
  }
  .info{
    width:90%;
    margin: 5px auto;
    a.title{
      font-size:12px;
      color: #999;
    }
    .sale{
      text-decoration: line-through;
    }
    .coupon_price{
      font-size:14px;
      color:red;
      font-weight:bold;
    }
    a.item_link{
      font-size:12px;
    }
  }
}

.section{
  background-color:#fff;
  padding:10px;
  @include min-height(50px);
  @include border-radius(5px);
  a.section{
    font-size:14px;
    color:#444;
    padding:3px;
    font-weight:bold;
  }
  .nodes{
    padding:5px;
    a.node{
      margin:3px;
    }
  }
}

.tags{
  background-color:#fff;
  padding:10px;
  margin-top:10px;
  @include min-height(50px);
  @include border-radius(5px);
  a.tags{
    font-size:14px;
    color:#444;
    padding:3px;
    font-weight:bold;
  }

  .tags_list{
    padding:5px;
    a.tag{
      margin:3px;
    }
  }
}
